.comparison {
    display: flex;
    flex-wrap: wrap;

    &__item {
        border: $main-border;
        border-radius: $main-border-radius;

        @include media-breakpoint-up(lg) {
            justify-content: space-between;
            margin: 0 10px;
            flex: 1 0 0;
        }
    }

    &__message {
        margin-bottom: $main-margin-bottom !important;
        border: $main-border;
        border-radius: $main-border-radius;
    }

    &__icon {
        @include size(30px);

        @include media-breakpoint-up(xl) {
            @include size(40px);
        }

        &--smile {
            @include size(20px);
            fill: currentColor;
        }

        &--progress {
            @include size(60px);

            @include media-breakpoint-up(xl) {
                @include size(80px);
            }
        }

        &--block {
            @include size(60px);
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #d8d8d8;
            border-radius: 50%;

            @include media-breakpoint-up(xl) {
                @include size(80px);
            }
        }
    }
}
