.health {
    $main-padding: 20px 15px;
    $main-padding-lg: 30px 25px;

    &__title {
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 2px solid $grey;
    }

    &__index {
        width: 100%;
        padding: $main-padding;
        margin-bottom: 20px;
        border: $main-border;
        border-radius: $main-border-radius;

        @include media-breakpoint-up(lg) {
            padding: $main-padding-lg;
        }

        &-progress {
            position: relative;
            height: 140px;
            text-align: center;

            @include media-breakpoint-up(sm) {
                height: 200px;
            }

            @include media-breakpoint-up(md) {
                height: 255px;
            }

            @include media-breakpoint-up(lg) {
                height: 300px;
            }

            &-icon {
                @include size(220px, 120px);
                margin-top: 10px;

                @include media-breakpoint-up(sm) {
                    @include size(340px, 150px);
                    margin-top: 40px;
                }

                @include media-breakpoint-up(md) {
                    @include size(260px, 150px);
                }

                @include media-breakpoint-up(lg) {
                    @include size(380px, 240px);
                }
            }

            &-text {
                position: relative;
                top: -98px;
                font-size: 72px;

                @include media-breakpoint-up(sm) {
                    top: -110px;
                    font-size: 85px;
                }

                @include media-breakpoint-up(md) {
                    top: -120px;
                }

                @include media-breakpoint-up(lg) {
                    top: -120px;
                    font-size: 76px;
                }
            }

            &-value {
                &--low,
                &--medium,
                &--hight,
                &--min,
                &--max {
                    position: absolute;
                    font-size: 13px;
                }

                &--low {
                    top: 60px;
                    left: 8vw;

                    @include media-breakpoint-up(sm) {
                        top: 100px;
                        left: 9vw;
                    }

                    @include media-breakpoint-up(md) {
                        left: 1vw;
                    }

                    @include media-breakpoint-up(lg) {
                        top: 140px;
                    }
                }

                &--medium {
                    top: -12px;

                    @include media-breakpoint-up(sm) {
                        top: 10px;
                    }

                    @include media-breakpoint-up(md) {
                        top: 20px;
                    }

                    @include media-breakpoint-up(lg) {
                        top: 40px;
                    }
                }

                &--hight {
                    top: -12px;
                    display: none;

                    @include media-breakpoint-up(sm) {
                        top: 100px;
                        right: 9vw;
                        display: inline;
                    }

                    @include media-breakpoint-up(md) {
                        display: none;
                    }

                    @include media-breakpoint-up(lg) {
                        top: 140px;
                        right: 0;
                        display: inline;
                    }
                }

                &--min,
                &--max {
                    top: 260px;
                    font-size: 16px;
                }

                &--min {
                    left: 30px;
                    color: $red;

                    @include media-breakpoint-up(xl) {
                        left: 70px;
                    }
                }

                &--max {
                    right: 30px;
                    color: $green;

                    @include media-breakpoint-up(xl) {
                        right: 70px;
                    }
                }
            }

            &-wrap {
                position: relative;
                display: inline-block;
                overflow: hidden;
            }

            &-bg {
                position: absolute;
                top: 215px;
                left: -25px;
                width: 120%;
                height: 100%;
                background-color: rgba(252, 252, 252, .596);
                transform: rotate(-45deg);
                transform-origin: 230px 15px;
            }
        }
    }

    &__rules {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        border: $main-border;
        border-radius: $main-border-radius;

        &-content {
            flex-wrap: wrap;
            padding: $main-padding;

            @include media-breakpoint-up(lg) {
                padding: $main-padding-lg;
            }
        }

        &-list {
            list-style: none;

            &-item::before {
                padding: 0 3px;
                margin-right: 10px;
                color: #00983d;
                border: 1px solid #00983d;
                border-radius: 50%;
                content: '▲';
            }
        }

        &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 100%;
            padding: 20px 5px;
            color: $white;
            background-color: $green;
            border-radius: $main-border-radius;

            @include media-breakpoint-up(lg) {
                padding: 0;
            }
        }

        &-icon {
            @include size(25px);
            margin-left: 10px;
            fill: currentColor;
        }
    }

    &__weight,
    &__liquid {
        display: flex;
        flex-wrap: wrap;
        border: $main-border;
        border-radius: $main-border-radius;

        &-text {
            font-size: 18px;

            @include media-breakpoint-only(sm) {
                // FIXME: preco cez &?
                & {
                    font-size: 21px;
                }
            }
        }

        &-icon {
            @include size(30px);
            fill: #00983d;
        }

        &-bmi {
            font-size: 32px;
        }

        &-divider {
            border-left: 1px solid black;

            // FIXME: preco zanorene?
            & p {
                font-size: 18px;
            }
        }

        &-waist {
            @include size(65px, 90px);
            fill: #7e7e7e;
        }

        &-cup {
            @include size(75px, 90px);
            fill: #7e7e7e;
        }
    }
}
