.health {
    $main-padding: 20px 15px;
    $main-padding-lg: 30px 25px;
    $main-margin: 20px;

    &__title {
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 2px solid $grey;
    }

    &__index {
        width: 100%;
        padding: $main-padding;
        margin-bottom: $main-margin;
        border: $main-border;
        border-radius: $main-border-radius;

        @include media-breakpoint-up(lg) {
            padding: $main-padding-lg;
        }
    }

    &__progress {
        position: relative;
        height: 140px;
        text-align: center;

        @include media-breakpoint-up(sm) {
            height: 200px;
        }

        @include media-breakpoint-up(md) {
            height: 255px;
        }

        @include media-breakpoint-up(lg) {
            height: 300px;
        }

        &--text {
            position: absolute;
            bottom: -10px;
            left: calc(50% - 40px);
            z-index: 10;
            font-size: 72px;

            @include media-breakpoint-up(sm) {
                bottom: -20px;
                font-size: 85px;
            }

            @include media-breakpoint-up(md) {
                bottom: 40px;
                left: calc(50% - 45px);
            }

            @include media-breakpoint-up(lg) {
                bottom: 15px;
                font-size: 76px;
            }
        }

        &--icon {
            @include size(220px, 120px);
            margin-top: 10px;

            @include media-breakpoint-up(sm) {
                @include size(340px, 150px);
                margin-top: 40px;
            }

            @include media-breakpoint-up(md) {
                @include size(260px, 150px);
            }

            @include media-breakpoint-up(lg) {
                @include size(380px, 240px);
            }
        }

        &--inner {
            position: relative;
            display: inline-block;
            width: 250px;
            height: 160px;
            overflow: hidden;

            @include media-breakpoint-up(sm) {
                width: 360px;
                height: 210px;
            }

            @include media-breakpoint-up(md) {
                width: 270px;
                height: 210px;
            }

            @include media-breakpoint-up(lg) {
                width: 390px;
                height: 280px;
            }
        }

        &--bg {
            position: absolute;
            top: -56px;
            left: 0;
            z-index: 1;
            width: 250px;
            height: 180px;
            background-color: rgba(255, 255, 255, 0.52);
            transform: rotate(136deg);
            transform-origin: 50% 100%;

            @include media-breakpoint-up(sm) {
                top: 0px;
                width: 370px;
                height: 190px;
            }

            @include media-breakpoint-up(md) {
                top: 0px;
                width: 270px;
                height: 180px;
            }

            @include media-breakpoint-up(lg) {
                top: 35px;
                width: 395px;
                height: 220px;
            }
        }

        &--arrow {
            position: absolute;
            top: 109px;
            left: calc(50% - 114px);
            z-index: 10;
            width: 114px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0);
            transform: rotate(137deg);
            transform-origin: 100% 50%;

            @include media-breakpoint-up(sm) {
                top: 174px;
                left: calc(50% - 150px);
                width: 150px;
            }

            @include media-breakpoint-up(md) {
                top: 164px;
                left: calc(50% - 134px);
                width: 134px;
            }

            @include media-breakpoint-up(lg) {
                top: 234px;
                left: calc(50% - 183px);
                width: 183px;
                height: 40px;
            }

            &__icon {
                @include size(30px);
            position: absolute;
                left: 5px;
            z-index: 12;

                @include media-breakpoint-up(sm) {
                    @include size(35px);
                    top: -2px;
                }

                @include media-breakpoint-up(lg) {
                    @include size(45px);
                    left: -2px;
                }
            }
        }
    }

    &__value {
        &--low,
        &--medium,
        &--hight,
        &--min,
        &--max {
            position: absolute;
            z-index: 15;
            font-size: 13px;
        }

        &--low {
            top: 40px;
            left: 3px;

            @include media-breakpoint-up(sm) {
                top: 100px;
                left: 10px;
            }

            @include media-breakpoint-up(md) {
                top: 85px;
                left: 2px;
            }

            @include media-breakpoint-up(lg) {
                top: 140px;
            }
        }

        &--medium {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);

            @include media-breakpoint-up(sm) {
                top: 10px;
            }

            @include media-breakpoint-up(md) {
                top: 20px;
            }

            @include media-breakpoint-up(lg) {
                top: 40px;
            }
        }

        &--hight {
            top: 40px;
            right: 0;

            @include media-breakpoint-up(sm) {
                top: 100px;
                right: 10px;
            }

            @include media-breakpoint-up(md) {
                top: 85px;
                right: 0;
            }

            @include media-breakpoint-up(lg) {
                top: 140px;
                right: 0;
                display: inline;
            }
        }

        &--min,
        &--max {
            top: 130px;
            font-size: 16px;
        }

        &--min {
            left: 25px;
            color: $red;

            @include media-breakpoint-up(sm) {
                top: 190px;
                left: 45px;
            }

            @include media-breakpoint-up(md) {
                top: 185px;
                left: 17px;
            }

            @include media-breakpoint-up(lg) {
                top: 260px;
                left: 25px;
            }
        }

        &--max {
            right: 17px;
            color: $green;

            @include media-breakpoint-up(sm) {
                top: 190px;
                right: 38px;
            }

            @include media-breakpoint-up(md) {
                top: 185px;
                right: 10px;
            }

            @include media-breakpoint-up(lg) {
                top: 260px;
                right: 20px;
            }
        }
    }

    &__rules {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $main-margin;
        border: $main-border;
        border-radius: $main-border-radius;

        &--content {
            flex-wrap: wrap;
            padding: $main-padding;

            @include media-breakpoint-up(lg) {
                padding: $main-padding-lg;
            }
        }

        &--list {
            list-style: none;
        }

        &--item::before {
            padding: 0 3px;
            margin-right: 10px;
            color: #00983d;
            border: 1px solid #00983d;
            border-radius: 50%;
            content: '▲';
        }

        &--text {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 100%;
            padding: 20px 5px;
            color: $white;
            background-color: $green;
            border-radius: $main-border-radius;

            @include media-breakpoint-up(lg) {
                padding: 0;
            }
        }

        &--icon {
            @include size(25px);
            margin-left: 10px;
            fill: currentColor;
        }
    }

    &__weight,
    &__liquid {
        display: flex;
        flex-wrap: wrap;
        padding: $main-padding;
        margin-bottom: $main-margin;
        border: $main-border;
        border-radius: $main-border-radius;

        &--text {
            font-size: 18px;

            @include media-breakpoint-only(sm) {
                font-size: 21px;
            }
        }

        &--icon {
            @include size(30px);
            fill: #00983d;
        }

        &--bmi {
            font-size: 32px;
        }

        &--divider {
            border-left: 1px solid black;
        }

        &--waist {
            @include size(65px, 75px);
            fill: #7e7e7e;
        }

        &--cup {
            @include size(75px, 90px);
            fill: #7e7e7e;
        }
    }

    &__litres {
        font-size: 30px;
        font-weight: 900;

        &--text {
            font-size: 24px;
        }
    }
}
