.health__support {
    &-wrap {
        border: 3px solid #ffd94b;
        border-radius: 4px;
    }

    &-plan {
        display: flex;
        flex-wrap: wrap;

        &-description {
            font-size: 12px;
        }
    }

    &-index {
        @include size(60px);

        @include media-breakpoint-up(md) {
            @include size(90px);
        }
    }

    .progress {
        height: 7px;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(230, 230, 230, .3)), to(rgba(230, 230, 230, .3)), color-stop(.2, #fff));
        box-shadow: none;
    }

    .progress-bar {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(243, 106, 32, .76)), to(rgba(230, 230, 230, .733)), color-stop(0, rgba(243, 93, 0, .7)));
        box-shadow: none;
    }

    &-navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
        background-color: #f6f6f6;

        &-prev-icon,
        &-next-icon {
            @include size(18px);
            margin: 0 7px;
            vertical-align: middle;
            fill: rgb(133, 133, 133);
        }
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;

        &-tolltip {
            @include size(20px);
        }
    }

    &-plan {
        &-week {
            width: 100%;
            height: 100%;
            overflow: hidden;

            &-wrap {
                width: 100%;
                height: 1310px;
                padding-right: 17px;
                overflow: hidden;

                &:hover {
                    padding-right: 0;
                    overflow-y: scroll;

                    @include media-breakpoint-up(xl) {
                        overflow-y: hidden;
                    }
                }

                @include media-breakpoint-up(md) {
                    height: 700px;
                }

                @include media-breakpoint-up(xl) {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    flex: 0 0 auto;
                    height: auto;
                    margin-bottom: 0;
                }
            }
        }

        &-day {
            display: flex;
            flex-wrap: wrap;

            @include media-breakpoint-up(md) {
                flex-wrap: nowrap;
                align-items: center;
            }

            @include media-breakpoint-up(xl) {
                flex-direction: column;
                align-items: center;
                height: 165px;

                &:nth-child(n+9) {
                    height: 130px;
                }
            }

            &-tick {
                @include size(30px);
                fill: $text--green;
            }

            &-cross {
                @include size(30px);
                fill: #ed2a32;
            }

            &-complete {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 80px;
                background-color: #f8f8f8;
                border: $main-border;
                border-radius: 3px;

                @include media-breakpoint-up(xl) {
                    @include size(120px);
                    flex-wrap: nowrap;
                    align-items: center;
                    font-size: 10px;
                    text-align: center;
                    border-radius: 50%;
                }
            }

            .btn-ok,
            .btn-no {
                @include media-breakpoint-up(xs) {
                    top: -10px;
                }

                @include media-breakpoint-up(md) {
                    top: 0;
                    padding: 6px 8px;
                }

                @include media-breakpoint-up(xl) {
                    @include size(28px);
                    top: -40px;
                    left: 30px;
                    padding: 14px;
                    background-color: #ff6712;
                    border: 5px solid white;
                    border-radius: 50%;

                    &:hover {
                        background-color: #bd5016;
                    }

                    &-icon {
                        @include size(20px, 20px);
                        position: absolute;
                        top: 4px;
                        left: 6px;
                        fill: white;
                    }
                }
            }

            .btn-done {
                @include media-breakpoint-up(xs) {
                    top: -10px;
                }

                @include media-breakpoint-up(md) {
                    top: 0;
                }

                @include media-breakpoint-up(xl) {
                    @include size(40px);
                    top: -40px;
                    left: 30px;
                    padding: 14px;
                    border: 5px solid white;
                    border-radius: 50%;
                }
            }
        }
    }
}

.yes {
    background-color: #ace0c4;
    border: none;
}

.no {
    background-color: #ffdf87;
    border: none;
}

.sunday {
    background-color: #b9f3ff;
    border: none;
}

.nextweek {
    background-color: #eee;
}

.none {
    background-color: #fff;
}
