.health-support {
    margin-bottom: $main-margin-bottom;

    &__inner {
        position: relative;
        border: 3px solid #ffd94b;
        border-radius: $main-border-radius;
    }

    &__plan {
        display: flex;
        flex-wrap: wrap;

        &-description {
            font-size: 12px;
        }
    }

    &__index {
        @include size(60px);

        @include media-breakpoint-up(md) {
            @include size(90px);
        }
    }

    .progress {
        position: absolute;
        top: 0;
        left: 15px;
        width: 90%;
        height: 8px;
        box-shadow: inset 0 1px 3px 0 rgba(187, 120, 120, .05);

        @include media-breakpoint-up(sm) {
            top: -5px;
            left: 20px;
            width: 90%;
        }

        @include media-breakpoint-up(md) {
            top: -30px;
            left: 10px;
            width: 100%;
        }
    }

    .progress-bar {
        background: linear-gradient(180deg, rgba(255, 255, 255, .281) 0%, rgba(221, 221, 221, .5) 100%), linear-gradient(228.04deg, #1fbba6 0%, rgba(255, 115, 0, .97) 100%);
        border-radius: 4px;
        transition: width .5s ease;
        box-shadow: inset 0 1px 3px 0 rgba(255, 255, 255, .87);
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 35px;
        font-size: 14px;
        background-color: $grey-bg;

        &-prev:hover,
        &-next:hover {
            cursor: pointer;
        }

        &-prev-icon,
        &-next-icon {
            @include size(18px);
            margin: 0 7px;
            vertical-align: middle;
            fill: rgb(133, 133, 133);

            &:hover {
                transform: scale(1.1);
                transition: all .3s ease;
            }
        }
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;
    }

    &__btn {
        @include media-breakpoint-up(xs) {
            top: -14px;
        }

        @include media-breakpoint-up(md) {
            top: 0;
        }

        @include media-breakpoint-up(xl) {
            top: -40px;
            left: 30px;
            padding: 15px;
            background-color: $orange;
            border: 5px solid white;
            border-radius: 50%;

            &:hover {
                background-color: $orange-dark;
            }

            &-icon {
                @include size(40px);
                position: absolute;
                top: -5px;
                left: -4px;
                fill: $white;
            }
        }

        &--done {
            @include media-breakpoint-up(xl) {
                background-color: $green;

                &:hover {
                    background-color: $green-dark;
                }
            }
        }
    }

    &__week {
        width: 100%;
        height: 100%;
        overflow: auto;

        &--inner {
            width: 100%;
            height: 1220px;

            @include media-breakpoint-up(md) {
                height: 650px;
            }

            @include media-breakpoint-up(lg) {
                height: 635px;
            }

            @include media-breakpoint-up(xl) {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                flex: 0 0 auto;
                height: auto;
                margin-bottom: 0;
                overflow-y: hidden;
            }
        }
    }

    &__day {
        @include media-breakpoint-up(md) {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }

        @include media-breakpoint-up(xl) {
            flex-direction: column;
            align-items: center;
            height: 165px;

            &:nth-child(n+9) {
                height: 130px;
            }
        }

        &--tick {
            @include size(35px);
            fill: $text--green;
            stroke: $white;
            stroke-width: 5px;
        }

        &--cross {
            @include size(35px);
            fill: #ed2a32;
            stroke: $white;
            stroke-width: 5px;
        }

        &--tick,
        &--cross {
            &.disable {
                display: none;
            }
        }

        &--complete {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 75px;
            background-color: #f8f8f8;
            border: $main-border;
            border-radius: $main-border-radius;

            @include media-breakpoint-up(xl) {
                @include size(120px);
                flex-wrap: nowrap;
                align-items: center;
                font-size: 10px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }

    &__print {
        display: flex;
        align-items: center;
        justify-content: center;

        &-icon {
            @include size(15px);
            margin: 5px 10px 0 0;
            fill: currentColor;
        }
    }
}

.day--yes,
.day--no,
.day--sunday {
    transition: all .5s ease-out;
    border: none;
}

.day--yes {
    background-color: #ace0c4;
}

.day--no {
    background-color: #ffdf87;
}

.day--sunday {
    background-color: #b9f3ff;
}

.day--nextweek {
    background-color: $grey;
}

.day--none {
    background-color: $white;
}
