.history-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;

    &.active {
        background-color: rgba(255, 255, 255, .8);
        opacity: 1;
        visibility: visible;
    }

    &__content {
        position: relative;
        padding: 20px 0;
        margin: 20px 10px;
        background-color: $white;
        border: $main-border;
        border-radius: $main-border-radius;

        @include media-breakpoint-up(sm) {
            margin: 30px;
        }

        @include media-breakpoint-up(lg) {
            margin: 30px;
        }
    }

    &__close {
        @include size(35px);
        position: absolute;
        top: -10px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: $white;
        border-radius: 50%;
        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, .25);
    }

    &__icon {
        @include size(30px);
        fill: $green;
    }
}
