.index-results {
    &__puck {
        display: flex;
        flex-wrap: wrap;
    }

    &__products {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: $main-border;
        border-radius: $main-border-radius;

        &--icon {
            @include size(20px);
            padding: 0;
            margin: 0;
            fill: $green;
        }
    }
}
