.invite {
    background-color: #f6f6f6;
    border: $main-border;
    border-radius: 4px;

    &__wrapper {
        display: flex;
    }

    &__input {
        flex-grow: 2;
        padding: 7px 0 7px 13px;
        background-color: white;
        border: 1px solid rgb(107, 107, 107);
        border-radius: 3px;
    }

    &__btn {
        padding: 9px 0;
        text-align: center;
        color: white;
        background-color: #009639;
        border-radius: 5px;
        left: -4px;

        &:hover {
            color: white;
            text-decoration: none;
            background-color: #006d28;
        }
    }
}
