.navigation {
    &__list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        list-style: none;

        & li {
            width: 100%;
            padding: 10px 15px;
            background-color: #f6f6f6;
            border-left: 4px solid transparent;

            &:hover,
            &:active {
                font-weight: bold;
                border-left: 4px solid #ff6900;
            }

            @include media-breakpoint-up(md) {
                & {
                    align-items: space-around;
                    padding: 20px;
                    text-align: center;
                    border-top: 6px solid #eee;
                    border-bottom: 6px solid #eee;
                    border-left: none;

                    &:hover {
                        border-top: 6px solid #eee;
                        border-bottom: 6px solid #eee;
                        border-left: none;

                        &::after {
                            position: absolute;
                            margin-top: 46px;
                            border: 30px solid transparent;
                            border-top: 30px solid #eee;
                            content: '';
                        }
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            flex-wrap: nowrap;
        }

        &-index {
            order: 0;
        }

        &-orders {
            order: 1;
        }

        &-settings {
            order: 2;
        }
    }
}
