.program-length {
    &__title {
        @include size(100%, 180px);
        position: relative;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: rgb(43, 43, 43);
        border-bottom-right-radius: 800px 5%;
        border-bottom-left-radius: 800px 5%;

        &::before {
            position: absolute;
            top: 0;
            content: svg-load('panel-curve.svg', fill=$white);
        }
    }

    &__description {
        position: relative;
        top: -20px;
        width: 100%;
        padding: 30px 0 10px;
        margin-bottom: 20px;
        background-color: $grey-bg;
        border-bottom-right-radius: 800px 10%;
        border-bottom-left-radius: 800px 10%;

        &::before {
            position: absolute;
            top: -35px;
            z-index: 11;
            left: calc(50% - 35px);
            content: svg-load('icon-roundangle.svg', fill=$grey-bg, width=70, height=70);
            transform: rotate(90deg);
        }

        &--text {
            font-size: 22px;
            font-weight: 100;
        }
    }

    &__option {
        margin-bottom: $main-margin-bottom;
    }

    &__list {
        flex: 1 0 auto;

        &--icon {
            @include size(20px);
            fill: currentColor;
        }
    }

    &__short,
    &__long {
        display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        padding: 20px;
        background-color: $grey-bg;

        &::before {
            position: absolute;
            top: -40px;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: $grey-bg;
            content: '';
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
        }

        & ul li {
            list-style-type: none;

            &::before {
                margin-right: 10px;
                font-size: 18px;
                content: svg-load('icon-triangle.svg', fill=#000, width=10, height=10, stroke-width=6);
            }
        }
    }

    &__price {
        flex: 0 0 auto;
        background-color: white;
    }
}
