.rate-product {
    background-color: $grey-bg;
    border: $main-border;
    border-radius: $main-border-radius;

    &__inner {
        padding: 25px 10px 10px;
        text-align: center;

        @include media-breakpoint-up(xl) {
            width: 70%;
            padding-bottom: 30px;
            margin: auto;
        }
    }

    &__review {
        width: 100%;
        min-height: 130px;
        padding: 10px;
        margin: 5px 0;
        line-height: 1;
        border: none;
        border: 1px solid #757373;
        border-radius: $main-border-radius;
    }

    &__input {
        display: none;
    }

    &__label {
        @include size(20px);
        display: block;
        background: center center no-repeat;
        background-image: svg-load('icon-star.svg', fill= #d8d8d8);
        background-size: contain;
        box-sizing: content-box;
        padding-left: 5px;
        cursor: pointer;
    }

    &__input:checked ~ &__label,
    &__label:hover,
    &__label:hover ~ &__label {
        background-image: svg-load('icon-star.svg', fill= rgb(253, 198, 95));
    }

    &__input:checked + &__label:hover,
    &__input:checked ~ &__label:hover,
    &__input:checked ~ &__label:hover ~ &__label,
    &__label:hover ~ &__input:checked ~ &__label {
        background-image: svg-load('icon-star.svg', fill= rgb(255, 166, 0));
    }

    &__rating {
        display: inline-flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
}
