.rate {
    background-color: $grey;
    border: $main-border;
    border-radius: $main-border-radius;

    &-input {
        min-height: 150px;
        line-height: 1;
        border: none;
        border: 1px solid #757373;
        border-radius: $main-border-radius;
    }

    .star-icon {
        @include size(25px);

        @include media-breakpoint-up(md) {
            margin: 0 10px;
        }
    }
}
