.rate-product {
    background-color: $grey-bg;
    border: $main-border;
    border-radius: $main-border-radius;

    &__input {
        min-height: 150px;
        line-height: 1;
        border: none;
        border: 1px solid #757373;
        border-radius: $main-border-radius;
    }

    &__star-icon {
        transition: .8s;
        fill: #d8d8d8;

        &:hover,
        &:hover ~ &,
        &:focus,
        &:focus ~ & {
            text-decoration: none;
            cursor: pointer;
            fill: orange;
        }
    }

    &__rating {
        &--icon {
            @include size(25px);
            margin: 0 5px;
        }

        &--direction {
            float: left;
            direction: rtl;
        }
    }
}
