.rating {
    &__star-icon {
        @include size(15px, 15px);
        background-color: transparent;
        border: none;
        transition: .3s;
        fill: $grey;

        &:hover,
        &:hover ~ &,
        &:focus,
        &:focus ~ & {
            text-decoration: none;
            cursor: pointer;
            fill: orange;
        }
    }

    &--direction {
        float: left;
        direction: rtl;
    }
}
