.rating {
    &__star-icon {
        transition: .3s;
        fill: $grey;

        &:hover,
        &:hover ~ &,
        &:focus,
        &:focus ~ & {
            text-decoration: none;
            cursor: pointer;
            fill: orange;
        }
    }

    &--direction {
        float: left;
        direction: rtl;
    }
}
