.rating {
    &__star-icon {
        text-decoration: none;
        transition: .3s;
        fill: $grey;

        &:hover,
        &:hover ~ &,
        &:focus,
        &:focus ~ & {
            cursor: pointer;
            fill: orange;
        }
    }

    &--direction {
        float: left;
        direction: rtl;
    }
}
