// Main color variables
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #ff6900;
$yellow:  #ffc107;
$green:   #00983d;
$teal:    #20c997;
$cyan:    #17a2b8;
$green-dark: #005f26;
$orange-dark:  #e26200;
$white: #fff;
$grey: #eee;
$grey-bg: #f6f6f6;

$theme-colors: (
    primary: $teal,
    secondary: $pink,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red
);

$main-border: 4px solid $grey;

$text--green: #00983d;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
