.note {
    position: fixed;
    top: 30px;
    right: -35rem;
    z-index: 1001;
    padding: 10px 15px;
    color: $white;
    background-color: #e26200;
    border-radius: 8px;
    transition: right .5s;

    &.active {
        right: 1rem;
        transition: right .5s;
    }

    &.success {
        color: $green;
        background-color: #e5f4eb;
    }

    &.info {
        color: $white;
        background-color: #3a81dd;
    }

    &.warning {
        color: $white;
        background-color: #e54544;
    }
}
