.tooltip {
    @include size(20px);
    position: relative;
    cursor: pointer;

    &--text {
        position: absolute;
        left: -75px;
        top: 20px;
        z-index: 10;
        width: 150px;
        padding: 5px;
        font-size: 12px;
        color: $white;
        text-align: center;
        background-color: $green;
        border-radius: 4px;
        visibility: hidden;
    }

    &:hover + &--text {
        visibility: visible;
    }
}
