.tooltip {
    @include size(20px);
    position: relative;
    cursor: pointer;

    &__text {
        position: absolute;
        top: 20px;
        left: -155px;
        z-index: 10;
        width: 150px;
        padding: 7px;
        font-size: 12px;
        color: $black;
        text-align: center;
        background-color: #fff6d6;
        border: 1px solid #fed53c;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
    }

    &:hover + &__text {
        top: 35px;
        opacity: 1;
        visibility: visible;
        transition: opacity .5s ease;

        &--left {
            top: -7px;
            left: -155px;
        }

        &--right {
            top: -7px;
            left: 25px;
        }
    }
}
