/**
 * Utilities
 *
 * weight: -5
 *
 * Styleguide Base - Utilities
 */

/**
 * Hidden element
 *
 * markup:
 * <p class="u-hidden">…</p>
 *
 * weight: -10
 *
 * Styleguide Base - Utilities - Hidden element
 */
.u-hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.text--white {
    color: #fff;
}

.text--green {
    color: $text--green;
}

.text--orange {
    color: #ff6900;
}

.title {
    text-align: center;
    border-bottom: 2px solid #eee;
}
