/**
 * Utilities
 *
 * weight: -5
 *
 * Styleguide Base - Utilities
 */

/**
 * Hidden element
 *
 * markup:
 * <p class="u-hidden">…</p>
 *
 * weight: -10
 *
 * Styleguide Base - Utilities - Hidden element
 */
.u-hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.text--white {
    color: #fff;
}

.text--green {
    color: $text--green;
}

.text--orange {
    color: #ff6900;
}

.text--grey {
    color: #a3a3a3;
}

.title {
    text-align: center;
    border-bottom: 2px solid #eee;
}

// Flex-box utilities
.order-1 {
    order: 1;

    @include media-breakpoint-up(sm) {
        &-sm {
            order: 1;
        }
    }
}

.order-2 {
    order: 2;

    @include media-breakpoint-up(sm) {
        &-sm {
            order: 2;
        }
    }
}

.order-3 {
    order: 3;

    @include media-breakpoint-up(sm) {
        &-sm {
            order: 3;
        }
    }
}

.link-grey {
    font-size: 12px;
    color: #a3a3a3;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.star-icon {
    @include size(15px);
}
